.main-section {
  background: url("/assets/icons/HMLoginBG.svg"),
    linear-gradient(117.21deg, #141414 80.75%, #484848 149.51%);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  background-attachment: fixed;


  .top-portion{
    width: 127.5px;
    height: 29px;
    top: 16px;
    left: 58px;
    position: absolute;
  }
  .previouspage-title{
    color: white;
    position: absolute;
  }
}

