.recently-applied {
  // padding: 20px;
  font-family: Arial, sans-serif;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .heading {
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      height: 2rem;
    }
  }

  // Variables
  $card-bg-color: linear-gradient(137.88deg, #1e222a 21.56%, #272c37 100%);
  $primary-text-color: #ffffff;
  $secondary-text-color: #b0b0b0;
  $status-tag-bg: #b2335b;
  $button-bg: #8b04f5;
  $button-hover-bg: #8b04f5;

  .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;

    // Card Container
    .card-container {
      background: $card-bg-color;
      color: $primary-text-color;
      border-radius: 12px;
      padding: 20px;

      border: 1px solid #c1c1c199;
      border-radius: 0.5rem;
      border-image-slice: 1;

      display: flex;
      flex-direction: column;
      gap: 8px;
      min-width: 20rem;

      &.inactive-card {
        opacity: 0.5;
      }
      // Header Section
      .header {
        display: flex;
        flex-direction: column;

        .brand-name {
          font-size: 20px;
          font-weight: bold;

          .company-highlight {
            color: #48a2f8;
          }

          .company-name {
            color: $primary-text-color;
          }
        }

        .tagline {
          font-size: 12px;
          color: $secondary-text-color;
          margin-top: 4px;
        }
      }

      // Role Title Section
      .role-title {
        font-size: 1rem;
        font-weight: 500;
        text-wrap: nowrap;
      }

      // Status Section
      .status {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
          font-size: 0.75rem;
          font-weight: 400;
          color: #bdbdbd;
        }

        .status-tag {
          padding: 0.2rem 1rem;
          border-radius: 3rem;
          font-size: 0.65rem;
        }
        .completed,
        .selected {
          background-color: rgb(33, 101, 33);
        }
        .ai-screening-pending,
        .interview-pending,
        .assessment {
          background-color: #6a2a43;
        }

        .iterview-pending,
        .meeting-panding {
          background-color: #b5a01eb2;
        }

        .inactive-status {
          background-color: #4d4d4d;
        }
        .faild,
        .not-selected {
          background-color: #6c2324;
        }
      }

      // Action Section
      .action {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;

        .take-test-btn {
          background-color: $button-bg;
          color: $primary-text-color;
          border: none;
          padding: 0.3rem 1rem;
          font-size: 0.75rem;
          border-radius: 0.3rem;
          cursor: pointer;

          &:hover {
            background-color: $button-hover-bg;
          }
        }
      }
    }
  }
}
