<div class="recently-applied">
  <h2 class="heading gap-4">
    <img src="assets/icons/recentJob.svg" alt="" class="icon" />
    Recently Applied
  </h2>

  <div class="cards">
    <div
      class="card-container"
      *ngFor="let job of recentApplied; let isFirst = first"
      [ngClass]="{
        'inactive-card': job.latestStatus === 'Inactive'
      }"
    >
      <div class="header">
        <img src="assets/icons/adanicon.svg" alt="" height="22" width="98" />
      </div>

      <div class="role-title">{{ job.role }}</div>

      <div class="status">
        <span>Status</span>
        <div
          class="status-tag"
          [ngClass]="{
            assessment: job.latestStatus === 'ASSESSMENT',
            'ai-screening-pending': job.latestStatus === 'AI Screening Pending',
            'interview-pending':
              job.latestStatus === 'Interview Schedule Pending',
            'meeting-panding': job.latestStatus === 'Teams Meeting Pending',
            'inactive-status': job.latestStatus === 'Inactive'
          }"
        >
          {{ job.latestStatus }}
        </div>
      </div>

      <!-- <div class="action" *ngIf="job.latestStatus === 'Teams Meeting Pending'">
        <button class="take-test-btn" (click)="navigateToInterview(job.jobId)">
          Take Test
        </button>
      </div> -->

      <div class="action" *ngIf="job.button_value != null">
        <button class="take-test-btn" (click)="navigateToInterview(job.jobId)">
          {{ job.button_value }}
        </button>
      </div>
    </div>
  </div>
</div>
