.logo-img {
  top: 4%;
  left: 2%;
}

.bg-image {
  background-image: url("https://s3-alpha-sig.figma.com/img/96a0/da2b/e0189b281e8ce5cf08fd451560184c62?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Ux5Gi5~3zjlkDSHqLRMi8IGvYvEu7BF6lc9WjUthncKHei4Za8Tj9SzR6RyQpj5lA6eCrsYgxdECYEb-E9uh2wsu6gxUbf5KE5kFxMZxETYeszlYsjRqBuHd1BkcE2jAuz7f9NgoQNt7WapzCA~52NHZpqWGjaTQi3dYli2xHwsNUIr2LnzBcvfYGsLrY8a2t4OzkHXQiyfab9V2FRWlx2flFoxBGH2Vz6iAavtcF0xZUL2ri~JHCZRMP76o8MYfyTV9L60-vEA8bGgCUX0zy0D9RO8IPEOrV0WZw~Eg1AynE7AArdFZesHcvNrxNTxW0QrDB5VW4lCwbZVGF1B68g__");
  background-size: cover;
  background-position: center;
  width: 100%;
  opacity: 0.85;

  .login-container {
    padding-top: 6rem;

    .logo {
      background-color: #9747ff;
      border-radius: 50%;
      padding: 1.5rem;
      align-content: center;
    }

    .headd {
      font-size: 46px;
    }
    .form-group {
      p {
        padding-bottom: 0.5rem;
        span {
          color: red;
        }
      }
    }
    .btn-login {
      margin: 1rem 0;
      width: 100%;
      background-color: #8b04f5;
      color: #fff;
      padding: 0.6rem 0;
    }
  }
}

.btn-primary {
  background-color: #8b04f5;
  border-color: #8b04f5;
  font-weight: 600;
  font-size: 16px;
}

input:focus {
  outline: none;
  box-shadow: none;
  border-color: #8b04f5;
}

.footer {
  position: relative;
  bottom: 2%;
}

.ppp {
  max-width: 400px;
}

.subtitle {
  font-size: 22px;
  font-weight: 400;
}

.form-label {
  text-align: start !important;
}

.email-input::placeholder {
  color: rgb(101, 101, 101);
}
.email-input {
  background-color: #131313;
  color: #fff;
  border-color: #424b57;
}
