<div class="main-strac-container">
  <div class="main-contain">
    <div class="top-portion" (click)="goBack()">
      <!-- <span class="previouspage-title">
        <img src="../../../../../assets/icons/fi_arrow-left.svg" />
        Job Details</span
      > -->
      <br />
      <span class="breadcrumb"
        ><img src="assets/icons/fi_arrow-left.svg" /><span class="home"
          >Home /</span
        >
        {{JobDetails?.jobTitle}} assessment</span
      >
      <!-- <nav>
                <a href="#">Home</a> / <a href="#">COO-Data center assessment</a>
              </nav> -->
    </div>

    <div class="bottom">
      <!-- <div class="modaltopportion">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>
        </div> -->

      <!-- Position Title -->
      <div class="card-header text-white" *ngIf="comoponent != 'Aiavatar'">
        <div class="txt-head">
          <h5>{{JobDetails?.jobTitle}}</h5>
          <div class="location">
            <img src="assets/icons/Location.svg" alt="" />
            <span class="ms-2">{{JobDetails?.location}}</span>
          </div>
        </div>

        <div class="stapper px-6">
          <div class="timeline row px-5">
            <div
              class="col-md-1 p-0"
              *ngFor="let step of assessmentDetails; let i = index"
            >
              <div class="timeline-item">
                <div
                  class="round"
                  [ngClass]="{
                    'complete-round': step?.status == 'Completed',
                    'pending-round': step?.status == 'Pending'
                  }"
                >
                  <img
                    src="assets/icons/{{ step.assessmentName }}.svg"
                    alt=""
                  />
                </div>
              </div>
              <div
                *ngIf="i < assessmentDetails.length - 1"
                class="line col-md-4 p-0"
              ></div>
            </div>
          </div>

          <div class="row w-100 justify-content-between">
            <div
              class="col-md-3 text-center text-nowrap d-flex flex-column align-items-center"
              *ngFor="let step of assessmentDetails; let i = index"
              [ngClass]="{
                'align-left': i === 0,
                'align-right': i === assessmentDetails.length - 1
              }"
            >
              <p class="mb-0 interview-status">
                {{ step?.assessmentName }}
              </p>
              <p
                class="interview-status2"
                [ngClass]="{
                'complete-text': step?.status == 'Completed',
              }"
              >
                <img
                  *ngIf="step?.status == 'Completed'"
                  src="assets/icons/Tick.svg"
                  alt=""
                />
                {{ step?.status }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div
        class="card-header justify-content-end"
        *ngIf="comoponent === 'Aiavatar'"
      >
        <div class="d-flex align-items-center gap-2">
          <p>Remaining Time:</p>
          <app-circular-progress-bar2
            [totalTime]="totalTime * 60"
            [remainingTime]="remainingTime * 60"
          ></app-circular-progress-bar2>
        </div>
      </div> -->
      <div>
        <app-introductory-call
          *ngIf="comoponent === 'AI Screening'"
          (showAiAvatar)="showAiavatar()"
        ></app-introductory-call>
        <app-assessment *ngIf="comoponent === 'Assessment'"></app-assessment>
        <app-ai-avatar-interview
          *ngIf="comoponent === 'Aiavatar'"
          (showPopupEvent)="showPopup()"
        ></app-ai-avatar-interview>
      </div>
      <app-meating-shedule
        *ngIf="comoponent === 'Teams Interview'"
      ></app-meating-shedule>
      <app-congratulation
        [isPopupVisible]="isPopupVisible"
        (close)="closePopup()"
        [subHeader]="'You have successfully completed the screening round'"
        [subSubHeader]="'Be ready for assessment!'"
      ></app-congratulation>

      <!-- <app-introductory-call *ngIf="comoponent === 'AI Based Interview'" (showPopupEvent)="showPopup()" ></app-introductory-call>
      <app-assessment *ngIf="comoponent === 'AI Based MCQ'" ></app-assessment>
      <app-ai-avatar-interview *ngIf="comoponent === 'Teams Meeting'" ></app-ai-avatar-interview> -->

      <!-- <app-congratulation [isPopupVisible]="isPopupVisible" (close)="closePopup()"></app-congratulation> -->
      <!-- <app-ai-avatar-interview></app-ai-avatar-interview> -->
      <!-- content -->
    </div>
  </div>
</div>
