<div class="main-strac-container">
  <div class="main-contain">
    <div class="top-portion">
      <span class="previouspage-title">
        <img src="../../../../../assets/icons/fi_arrow-left.svg" />
        Job Details</span
      >
      <br />
      <span>Home / COO-Data center assessment</span>
      <!-- <nav>
                <a href="#">Home</a> / <a href="#">COO-Data center assessment</a>
              </nav> -->
    </div>

    <div class="bottom">
      <!-- <div class="modaltopportion">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>
        </div> -->

      <!-- Position Title -->
      <div class="card-header text-white">
        <div class="txt-head">
          <h5>Chief Operating Officer - Data Center</h5>
          <div class="location">
            <img src="/assets/icons/Location.svg" alt="" />
            <span class="ms-2">Ahmedabad, Gujarat, India</span>
          </div>
        </div>

        <!-- staper -->
        <!-- <div class="timeline d-flex">
          <div class="timeline-item">
            <div class="round">
              <img src="../../../../../assets/icons/call.svg" alt="" />
            </div>
          </div>
          <div class="line"></div>
          <div class="timeline-item">
            <div class="round">
              <img src="../../../../../assets/icons/simcard.svg" alt="" />
            </div>
          </div>
          <div class="line"></div>
          <div class="timeline-item">
            <div class="round">
              <img src="../../../../../assets/icons/video.svg" alt="" />
            </div>
          </div>
        </div> -->
        <div class="stapper px-4">
          <div class="timeline row px-5">
            <div class="timeline-item col-md-1 p-0">
              <div class="round">
                <img src="/assets/icons/call-calling.svg" alt="" />
              </div>
            </div>
            <div class="line col-md-4 p-0"></div>
            <div class="timeline-item col-md-1 p-0">
              <div class="round">
                <img src="/assets/icons/simcard.svg" alt="" />
              </div>
            </div>
            <div class="line col-md-4 p-0"></div>
            <div class="timeline-item col-md-1 p-0">
              <div class="round">
                <img src="/assets/icons/video.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 text-center pe-5">
              <p class="mb-0 interview-status">AI Screening</p>
              <p class="interview-status2">Pending</p>
            </div>
            <div class="col-md-4 text-center">
              <p class="mb-0 interview-status">Assessment</p>
              <p class="interview-status2">Pending</p>
            </div>
            <div class="col-md-4 text-center ps-5">
              <p class="mb-0 interview-status">Interview 1</p>
              <p class="interview-status2">Not Scheduled</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <app-introductory-call
          *ngIf="comoponent === 'AI Based Interview'"
          (showAiAvatar)="showAiavatar()"
        ></app-introductory-call>
        <app-assessment *ngIf="comoponent === 'AI Based MCQ'"></app-assessment>
        <app-ai-avatar-interview
          *ngIf="comoponent === 'Aiavatar'"
          (showPopupEvent)="showPopup()"
        ></app-ai-avatar-interview>
      </div>
      <app-meating-shedule
        *ngIf="comoponent === 'Teams Meeting'"
      ></app-meating-shedule>
      <app-congratulation
        [isPopupVisible]="isPopupVisible"
        (close)="closePopup()"
        [subHeader]="'You have successfully completed the screening round'"
        [subSubHeader]="'Be ready for assessment!'"
      ></app-congratulation>

      <!-- <app-introductory-call *ngIf="comoponent === 'AI Based Interview'" (showPopupEvent)="showPopup()" ></app-introductory-call>
      <app-assessment *ngIf="comoponent === 'AI Based MCQ'" ></app-assessment>
      <app-ai-avatar-interview *ngIf="comoponent === 'Teams Meeting'" ></app-ai-avatar-interview> -->

      <!-- <app-congratulation [isPopupVisible]="isPopupVisible" (close)="closePopup()"></app-congratulation> -->
      <!-- <app-ai-avatar-interview></app-ai-avatar-interview> -->
      <!-- content -->
    </div>
  </div>
</div>
