<div class="main-strac-container">
  <div class="main-contain">
    <div class="top-portion">
      <span class="previouspage-title">
        <img src="../../../../../assets/icons/fi_arrow-left.svg" />
        Job Details</span
      >
      <br />
      <span>Home / COO-Data center assessment</span>
      <!-- <nav>
                <a href="#">Home</a> / <a href="#">COO-Data center assessment</a>
              </nav> -->
    </div>

    <div class="bottom">
      <!-- <div class="modaltopportion">
            <div class="col-sm-6"></div>
            <div class="col-sm-6"></div>
        </div> -->

      <!-- Position Title -->
      <div class="card-header text-white">
        <div class="txt-head">
          <h5>Chief Operating Officer - Data Center</h5>
          <div class="location">
            <img src="/assets/icons/Location.svg" alt="" />
            <span class="ms-2">Ahmedabad, Gujarat, India</span>
          </div>
        </div>

        <!-- staper -->
        <div class="timeline d-flex">
          <div class="timeline-item">
            <div class="round">
              <img src="../../../../../assets/icons/call.svg" alt="" />
            </div>
          </div>
          <div class="line"></div>
          <div class="timeline-item">
            <div class="round">
              <img src="../../../../../assets/icons/simcard.svg" alt="" />
            </div>
          </div>
          <div class="line"></div>
          <div class="timeline-item">
            <div class="round">
              <img src="../../../../../assets/icons/video.svg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <app-introductory-call (showPopupEvent)="showPopup()"></app-introductory-call>
      <app-congratulation [isPopupVisible]="isPopupVisible" (close)="closePopup()"></app-congratulation>
       <!-- <app-ai-avatar-interview></app-ai-avatar-interview> -->
      <!-- content -->
    </div>
  </div>
</div>
