/* General Styles */
.body {
  // background-color: #111;
  background-image: url("/assets/icons/236.svg");
  color: #f5f5f5;
  margin: 0;
  font-family: Arial, sans-serif;
}

.card-msg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-box {
  width: 80%;
}

.call {
  display: flex;
  align-items: center;
  gap: 12px;
}
.call img {
  height: 1.5rem;
}
.call .h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

/* Instructions Section */
.instructions {
  margin-left: 2.89rem;
}

.instructions h6 {
  font-weight: 500;
  font-size: 0.9rem;
  color: #7086fd;
  line-height: 32px;
  margin-top: 1rem;
}

.instructions ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.instructions ul li {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.35rem;
}

/* Button */
.test-btn {
  width: 191px;
  height: 50px;
  background-color: #6d00f0;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 0.8rem;
  border-radius: 12px;
  cursor: pointer;
}

.test-btn:hover {
  background-color: #5500c8;
}

@media (min-height: 500px) and (max-height: 700px) {
  .call {
    h6 {
      font-size: 0.7rem !important;
    }
    img {
      height: 1.2rem !important;
    }
  }
  .instructions {
    h6 {
      font-size: 0.8rem !important;
      line-height: 20px !important;
      margin: 0.5rem 0 !important;
    }

    ul li {
      font-weight: 400 !important;
      font-size: 0.65rem !important;
      line-height: 1rem !important;
    }
  }

  .test-btn {
    width: 181px !important;
    height: 40px !important;
    padding: 12px 24px !important;
    font-size: 0.7rem !important;
    border-radius: 0.5rem !important;
  }
}
@media (min-width: 1024px) and (max-width: 1436px) {
  .card-box {
    margin-top: 1rem !important;
  }
  .call {
    h6 {
      font-size: 0.8rem !important;
    }
    img {
      height: 1.2rem !important;
    }
  }
  .instructions {
    h6 {
      font-size: 0.8rem !important;
      line-height: 20px !important;
      margin: 0.5rem 0 !important;
    }

    ul li {
      font-weight: 400 !important;
      font-size: 0.65rem !important;
      line-height: 1rem !important;
    }
  }

  .test-btn {
    width: 181px !important;
    height: 40px !important;
    padding: 12px 24px !important;
    font-size: 0.7rem !important;
    border-radius: 0.5rem !important;
  }
}
