<!-- Interview Instructions -->
<div class="card-msg text-white">
    <div class="mt-4 card-box">
      <div class="call">
        <img src="/assets/icons/call-calling.svg" alt="call-icon" />
        <h5 class="mb-0">Introductory call - Interview Instructions</h5>
      </div>
      <div class="instructions">
        <!-- Equipment Check -->
        <h6 class="">Equipment/Environment Check</h6>
        <ul>
          <li>
            Find a quiet spot with ample lighting and strong WiFi to take
            your assessment (Minimum 5-6 mbps stable upload speed,
            Broadband is recommended).
          </li>
          <li>
            Interview recording only works in Chrome and Firefox at the
            moment. Do ensure that you are using either of these browsers
            to take your assessment.
          </li>
          <li>
            To proceed with the video interview, we will require access to
            your video camera and your microphone.
          </li>
          <li>
            You will be shown a practice question where you can test your
            audio and video quality before starting the actual assessment.
          </li>
          <li>
            Be sure to position yourself well within the frame of your
            screen, sit upright and look straight into your camera when
            you present your responses.
          </li>
        </ul>

        <!-- General Instructions -->
        <h6 class=" mt-3">Instructions</h6>
        <ul>
          <li>
            You are required to complete your assessment within a single
            sitting.
          </li>
          <li>
            Once you are presented with your first question, an automated
            timer starts. You will be given a preparation time, followed
            by a recording time limit that may vary for each question.
          </li>
          <li>
            Remember to keep track of the timer while preparing or
            recording your response. Should you find yourself ready before
            the time limit, you can choose to either start recording your
            responses or to submit them beforehand.
          </li>
          <li>
            Don't worry, you will be able to review your video responses
            at the end of the entire assessment. If you feel that your
            responses are unsatisfactory, you have the choice to retake
            the entire assessment.
          </li>
        </ul>
      </div>
      <!-- CTA Button -->
      <div class="text-center mt-4">
        <button class="btn test-btn px-4 py-2" (click)="onButtonClick()">Take Test</button>
      </div>
    </div>
</div>

