<div *ngIf="loaderflag" class="loader_position">
  <div class="flex justify-center">
    <p-progress-spinner
      strokeWidth="2"
      fill="transparent"
      [style]="{ width: '100px', height: '100px', }"
    />
  </div>
</div>

<div *ngIf="!loaderflag" class="candidates-container">
  <p-toast />
  <div class="header">
    <img [src]="'assets/icons/profile-logo.svg'" alt="My Image" />
    <h2>Candidates</h2>
  </div>
  <nav class="nav-bar mb-4 d-flex justify-content-between">
    <div class="nav-btn">
      <span
        class="nav-item"
        [class.activeTab]="activeTab === 'Shortlisted'"
        (click)="setActiveTab('Shortlisted')"
      >
        Shortlisted
      </span>
      <span
        class="nav-item"
        [class.activeTab]="activeTab === 'Applied'"
        (click)="setActiveTab('Applied')"
      >
        Applied
      </span>
    </div>
    <button class="refresh btn" (click)="refreshData()">
      <img src="assets/icons/refresh.svg" alt="" class="img-fluid w-75" />
    </button>
  </nav>
  <div *ngIf="activeTab === 'Shortlisted'" class="main-candisate-card">
    <ng-container
      *ngIf="shortlistedCandidates?.length > 0; else noShortlistedData"
    >
      <div
        *ngFor="let candidate of shortlistedCandidates"
        class="candidate-card"
        (click)="openModal(candidate)"
      >
        <div class="candidate-info">
          <div class="left-part">
            <h3 [ngClass]="{ 'active-name': isCandidateSelected(candidate) }">
              {{ candidate?.first_name + " " + candidate?.last_name }}
            </h3>
            <div class="star">
              <div class="rating">
                <img [src]="'assets/icons/starIcon.svg'" alt="My Image" />
              </div>
              <div class="text">{{ candidate.star }}</div>
            </div>
            <div
              class="status"
              [ngClass]="getStatusClass(candidate?.latestStatus)"
            >
              {{ candidate?.latestStatus }}
            </div>
          </div>
          <div class="experience">
            <span class="text-white">{{ candidate?.experience }}</span> yrs of
            exp.
          </div>
        </div>
        <div class="skills">
          <div
            *ngFor="
              let skill of candidate?.skills?.split(',') | slice : 0 : 2;
              let i = index
            "
            class="skill"
          >
            {{ skill }}
          </div>
          <!-- <div
            *ngIf="candidate?.skills?.split(',').length > 2"
            class="skill-pill2"
            (mouseenter)="candidate.showHiddenSkills = true"
            (mouseleave)="candidate.showHiddenSkills = false"
          >
            +{{ candidate?.skills?.split(",").length - 2 }}
            <div
              class="hidden-skills bg-light p-2 position-absolute"
              *ngIf="candidate.showHiddenSkills"
            >
              <div
                *ngFor="let skill of candidate?.skills?.split(',') | slice : 2"
                class="more-pill"
              >
                {{ skill }}
              </div>
            </div>
          </div> -->

          <div
            *ngIf="candidate?.skills?.split(',').length > 2"
            class="skill-pill2"
            pTooltip="{{ getHiddenSkillsTooltip(candidate) }}"
          >
            +{{ candidate?.skills?.split(",").length - 2 }}
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noShortlistedData>
      <div class="no-data">No data available</div>
    </ng-template>
  </div>

  <div *ngIf="activeTab === 'Applied'" class="main-candisate-card">
    <ng-container *ngIf="appliedCandidates?.length > 0; else noAppliedData">
      <div *ngFor="let candidate of appliedCandidates" class="candidate-card">
        <div class="candidate-info">
          <div class="left-part">
            <h3>{{ candidate.first_name + " " + candidate.last_name }}</h3>
          </div>
          <div class="experience">
            <span class="text-white">{{ candidate?.experience }}</span> yrs of
            exp.
          </div>
        </div>
        <div class="skills">
          <div
            *ngFor="
              let skill of candidate?.skills?.split(',') | slice : 0 : 2;
              let i = index
            "
            class="skill"
          >
            {{ skill }}
          </div>
          <div
            *ngIf="candidate?.skills?.split(',').length > 2"
            class="skill-pill2"
            (mouseenter)="candidate.showHiddenSkills = true"
            (mouseleave)="candidate.showHiddenSkills = false"
          >
            +{{ candidate?.skills?.split(",").length - 2 }}
            <div
              class="hidden-skills bg-light p-2 position-absolute"
              *ngIf="candidate.showHiddenSkills"
            >
              <div
                *ngFor="let skill of candidate?.skills?.split(',') | slice : 2"
                class="more-pill"
              >
                {{ skill }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noAppliedData>
      <div class="no-data">No data available</div>
    </ng-template>
  </div>
  <div class="position-absolute top-0 end-0 popup-content">
    <app-candidate-info
      *ngIf="selectedCandidate"
      [candidate]="selectedCandidate"
      (close)="onClose($event)"
    ></app-candidate-info>
  </div>
</div>
