body {
  font-family: Inter;
}
.loader_position {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.candidates-container {
  // background-color: #1e1e1e;
  color: white;
  padding: 20px;
  border-radius: 8px;
  // max-width: 600px;
  margin: auto;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-bottom: 1rem;

    h2 {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  // padding: .13rem 0rem;
  border-bottom: 2px solid rgba(66, 75, 87, 1);
}

.nav-item {
  cursor: pointer;
  color: #aaa;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  font-size: 0.8rem;
}

.nav-item.activeTab {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid rgba(118, 127, 255, 1);
  font-size: 0.8rem;
}

.main-candisate-card {
  height: calc(93vh - 9rem);
  overflow-y: auto;
}

.candidate-card {
  background: linear-gradient(137.88deg, #1d212a 21.56%, #272c37 100%);
  border: 0.01rem solid grey;
  // border-image-source: linear-gradient(138.76deg, rgba(91, 91, 91, 0.72) 3.02%, rgba(193, 193, 193, 0.72) 100%);
  padding: 0.5rem;
  margin-bottom: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.2rem;
}

.candidate-info {
  h3 {
    margin: 0;
  }
}

.left-part {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: row;
  gap: 1rem;

  h3 {
    font-family: inter;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }

  .active-name {
    color: rgba(118, 127, 255, 1);
  }
}

.star {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 1px solid rgb(86 67 180);
  padding: 0.2rem 0.5rem;
  text-align: center;
  align-items: center;

  .text {
    font-size: 0.75rem;
    font-weight: 400;
  }

  .rating {
    img {
      height: 1rem;
      width: 1rem;
    }
  }
}

.status {
  font-size: 0.6rem;
  font-weight: 400;
  background-color: #444;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.status-interview-scheduled {
  background: rgba(255, 196, 101, 0.2);
  color: rgba(255, 196, 101, 1);
}

.status-interview-completed {
  background: rgba(29, 161, 242, 0.26);
  color: rgba(171, 176, 255, 1);
}

.status-ai-screening-pending {
  background: rgba(255, 196, 101, 0.2);
  color: rgba(255, 196, 101, 1);
}

.status-selected {
  background: rgba(74, 222, 128, 0.2);
  color: rgba(89, 217, 145, 1);
}

.experience {
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(189, 189, 189, 1);
  span {
    color: white;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;

  .skill {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5.25px 10.5px;
    border-radius: 1rem;
    border: 1px solid rgba(15, 108, 189, 1);
    font-size: 0.6rem;
    font-weight: 400;
    height: 22px;
    // cursor: pointer;
  }

  .skill-pill2 {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 5.25px 10.5px;
    border-radius: 1rem;
    background-color: #545454;
    color: rgba(255, 255, 255, 0.8705882353);
    font-size: 0.6rem;
    font-weight: 400;
    height: 22px;
  }

  .more-pill {
    color: black;
  }
}

.no-data {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  // height: 500px;
}

.popup-content {
  width: 100%;
  z-index: 5;
  backdrop-filter: blur(5px);
  /* Blur effect */
}

@media (min-height: 600px) and (max-height: 800px) {
  .left-part h3 {
    font-size: 0.8rem;
  }

  .candidates-container {
    padding: 18px 16px !important;
    .header {
      h2 {
        font-size: 1rem !important;
      }
    }
  }
  .nav-item {
    font-size: 0.7rem !important;
    .activeTab {
      font-size: 0.7rem !important;
    }
  }
  .star {
    gap: 0.4rem !important;
    padding: 0.15rem 0.4rem !important;

    .text {
      font-size: 0.65rem !important;
    }
    .rating {
      img {
        height: 0.8rem !important;
        width: 0.8rem !important;
      }
    }
  }

  .experience {
    font-size: 0.65rem !important;
  }

  .status {
    font-size: 0.55rem !important;
    padding: 4px 8px !important;
  }

  .skills {
    .skill {
      padding: 5px 9px !important;
      font-size: 0.55rem !important;
      height: 20px !important;
    }

    .skill-pill2 {
      padding: 5px 9px !important;
      font-size: 0.55rem !important;
      height: 20px !important;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1436px) {
  .left-part h3 {
    font-size: 0.8rem !important;
  }
  .candidates-container {
    padding: 18px 16px !important;
    .header {
      h2 {
        font-size: 1rem !important;
      }
    }
  }

  .nav-item {
    font-size: 0.7rem !important;
    .activeTab {
      font-size: 0.7rem !important;
    }
  }

  .star {
    gap: 0.4rem !important;
    padding: 0.15rem 0.4rem !important;
    .text {
      font-size: 0.65rem !important;
    }

    .rating {
      img {
        height: 0.8rem !important;
        width: 0.8rem !important;
      }
    }
  }

  .experience {
    font-size: 0.65rem !important;
  }

  .status {
    font-size: 0.55rem !important;
    padding: 4px 8px !important;
  }

  .skills {
    .skill {
      padding: 5px 9px !important;
      font-size: 0.55rem !important;
      height: 20px !important;
    }

    .skill-pill2 {
      padding: 5px 9px !important;
      font-size: 0.55rem !important;
      height: 20px !important;
    }
  }
}
