/* Centered card */
.dark-card {
  background-color: #434343; /* Dark grey */
  margin-top: 2rem;
  width: 90%;
  min-height: 27rem;
  border-radius: 8px; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-white {
  color: #ffffff; /* White text color */
}
