
<div *ngIf="loaderflag"  class="loader_position">
  <div class="flex justify-center">
    <p-progress-spinner strokeWidth="2" fill="transparent" [style]="{ width: '100px', height: '100px', }" />
  </div>
</div>

<div *ngIf="!loaderflag" class="body"> 
  <div class="interview-container h-100">
    <div class="header">
      <h4>Upcoming Interviews</h4>
      <p>Last updated Thursday, Oct 30 at 11:11 AM (PT)</p>
    </div>

    <div class="body2">
      <div *ngIf="!interviews || interviews.length === 0" class="no-data">
        No interviews scheduled.
      </div>
      <div *ngFor="let group of interviews">
        <div class="day">
          <img src="assets/icons/calender.svg" alt="" />{{ group.day }}
        </div>
        <div
          *ngIf="
            group.interviews && group.interviews.length > 0;
            else noInterviews
          "
        >
          <div *ngFor="let interview of group.interviews">
            <div
              class="int-time"
              *ngIf="group.day === 'Today' && interview.timeRelative"
            >
              <div class="icon">
                <img src="assets/icons/clock.svg" alt="" />
              </div>
              <div class="time-text">{{ interview.timeRelative }}</div>
            </div>
            <div class="interview-row">
              <div class="time-container">
                <p class="time-1">{{ interview.startTime }}</p>
                <p class="time-2">{{ interview.duration }}</p>
              </div>
              <div class="devider"></div>
              <div class="details">
                <div class="name">{{ interview.name }}</div>
                <div class="role">{{ interview.role }}</div>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <ng-template #noInterviews>
          <div class="no-data">No interviews scheduled for {{ group.day }}</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
