.job-details-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "left middle middle right";
  background-color: black;
  // gap: 1rem;
  height: 100%;
  background-image: url(https://s3-alpha-sig.figma.com/img/42a2/8e50/eadf9cb41089981db86ec9c07fe36d70?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=h5shDmjm2siNccklktCLeMs-PrT1ctORyeXCgD6vptPahPtSlkuvfGy~o0woExEjzEwoYmenvhzfPYKWNQAWtwQDqcceUdzqxu9jUPsyR8~9GnoI2W1OvJmrSAN9lFUzrJgdqxzx8Mf2pK5u-iRjgfPO6ZnMUOvgtRSr9yrIQFYNYYwoc1AoARog2yt9Yrg4716jFS4hLIITu5aEgqZrN~NMbYPt-H4qfqU6dQFJh90oXP0yOcjL1WkK82Xdx-ew98GI29dMu5Wi8Gce1R65vbu0Si7zfrLKr8krior5wIa0gCNNXJTcig-hHI0Jreuxl52NfQkbo1Bz50pn9kZT2g__);
  background-size: cover;
  background-position: center;
  width: 100%;

  .left {
    grid-area: left;
  }
  .middle {
    grid-area: middle;
  }
  .right {
    grid-area: right;
  }
}
