.main-container {
  // height: 100vh;
  background-color: #0A0A0A;

  .header {
    height: 7vh;
    background-color: #0a0a0a;
    padding: 0 1rem;
    color: #ffffff;
    img {
      height: 21px;
    }
    p {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .main {
    height: 93vh;
  }
}
