<div class="container1 d-flex justify-content-end align-items-center vh-100">
  <div class="candidate-card p-4 h-100">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="star-pill">
        <h4 class="m-0">
          {{
            selectedCandidateDetails?.first_name +
              " " +
              selectedCandidateDetails?.last_name
          }}
        </h4>
        <span class="rating d-flex"
          ><img src="/assets/icons/starIcon.svg" alt="" />
          {{ candidate.star }}</span
        >
      </div>
      <img (click)="closeModal()" src="/assets/icons/+ (1).svg" alt="" />
    </div>
    <p class="contact-info mt-3 mb-4 d-flex">
      <img src="/assets/icons/Phone.svg" alt="" class="me-2" />
      {{ selectedCandidateDetails?.contact }}
      <img src="/assets/icons/Email.svg" alt="" class="ms-4 me-2" />
      {{ selectedCandidateDetails?.email }}
    </p>

    <div class="stapper">
      <div class="timeline row px-5">
        <div
          class="col-md-1 p-0"
          *ngFor="let step of assessmentDetails; let i = index"
        >
          <div class="timeline-item">
            <div
              class="round"
              [ngClass]="{
                'complete-round': step?.status == 'Completed',
                'pending-round': step?.status == 'Pending',
                'failed-round': step?.status == 'Failed'
              }"
            >
              <img src="/assets/icons/{{ step.assessmentName }}.svg" alt="" />
            </div>
          </div>
          <div
            *ngIf="i < assessmentDetails.length - 1"
            class="line col-md-4 p-0"
          ></div>
        </div>
      </div>

      <div class="row w-100">
        <div
          class="col-md-4 text-center"
          *ngFor="let step of assessmentDetails; let i = index"
        >
          <p class="mb-0 interview-status">{{ step?.assessmentName }}</p>
          <p
            class="interview-status2 d-flex"
            [ngClass]="{
              
              'complete-status': step?.status == 'Completed',
              'pending-status': step?.status == 'Pending'
            }"
          >
            <img
              *ngIf="step?.status === 'Completed'"
              src="/assets/icons/Tick.svg"
              alt="Completed"
            />{{ step?.status }}
          </p>
        </div>
      </div>
    </div>

    <div class="scroll-area">
      <div *ngIf="isInterviewScheduled" class="interview-schedule my-4">
        <div>
          <p class="mb-0">Interview scheduled on -</p>
          <p class="text-date mb-0">20 August, 2024, 12:30 PM</p>
        </div>
        <div>
          <button class="btn button">Join</button>
        </div>
      </div>

      <div class="skill-card mb-4">
        <hr />
        <div class="mb-3">
          <div class="d-flex file-icon mb-3">
            <div class="icon">
              <img src="/assets/icons/copy-alt 1.svg" alt="" />
            </div>
            <h5 class="mb-0 ms-2">Latest Experience Details</h5>
          </div>
          <h6 class="mb-1">{{ selectedCandidateDetails?.designation }}</h6>
          <p class="mb-1">{{ selectedCandidateDetails?.latestrole }}</p>
          <div class="d-flex date-place">
            <p>
              September, 2022 - Present •
              {{ selectedCandidateDetails?.address }}
            </p>
          </div>
        </div>
        <hr />

        <div class="mb-3">
          <div class="d-flex file-icon mb-3">
            <div class="icon">
              <img src="/assets/icons/copy-alt 1.svg" alt="" />
            </div>
            <h5 class="mb-0 ms-2">Highest Qualification Details</h5>
          </div>
          <h6 class="fw-bold mb-1" class="university"></h6>

          <div class="date-place">
            <p>
              {{ selectedCandidateDetails?.education }}
            </p>
          </div>
          <!-- <p>Activities and societies: Football team head</p> -->
        </div>

        <hr />
        <div>
          <div class="d-flex file-icon mb-4 ">
            <div class="icon">
              <img src="/assets/icons/copy-alt 1.svg" alt="" />
            </div>
            <h5 class="mb-0 ms-2">Skills</h5>
          </div>

          <div class="d-flex flex-wrap gap-1">
            <!-- Show only the first 3 skills -->
            <div
              *ngFor="
                let skill of selectedCandidateDetails?.skills?.split(',')
                  | slice : 0 : 3;
                let i = index
              "
              class="skill-pill bg-primary me-2 mb-2"
            >
              {{ skill }}
            </div>

            <!-- Show "+count" if there are more than 3 skills -->
            <div
              *ngIf="selectedCandidateDetails?.skills?.split(',').length > 3"
              class="skill-pill2 bg-secondary position-relative"
              (mouseenter)="showHiddenSkills = true"
              (mouseleave)="showHiddenSkills = false"
            >
              +{{ candidate?.skills?.split(",").length - 3 }}

              <!-- Hidden pills shown on hover -->
              <div
                class="hidden-skills bg-light p-2 position-absolute"
                *ngIf="showHiddenSkills"
              >
                <div
                  *ngFor="
                    let skill of selectedCandidateDetails?.skills?.split(',')
                      | slice : 3
                  "
                  class="more-pill"
                >
                  {{ skill }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isSelected" class="comment-section mt-4">
        <label for="comment">Add Comments (if any)</label>
        <textarea id="comment" name="comment" rows="4"></textarea>

        <div class="btn-group2 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-outline-danger me-2"
            (click)="onSubmit('FAILED')"
          >
            Reject
          </button>
          <button
            type="button"
            class="btn btn-success"
            (click)="onSubmit('PASSED')"
          >
            Approve
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
