<div class="profile-details-left d-flex align-items-start flex-column gap-4">
  <div
    class="profile-details-left-header d-flex align-items-center justify-content-center gap-4"
  >
    <img src="assets/icons/profileIcon.svg" alt="" />
    <p>Profile Preview</p>
    <div class="edit-btn">Edit Profile</div>
  </div>
  <div class="candidate-details">
    <div class="candidate-img">
      <img src="assets/icons/profileLogo.svg" alt="" />
    </div>
    <div class="candidate-details-info">
      <div class="candidate-details-info-top d-flex gap-3">
        <p>Rajesh Tapadia</p>
        <div class="chip ccna d-flex align-items-center justify-content-center">
          CCNA
        </div>

        <div class="chip mis d-flex align-items-center justify-content-center">
          MIS
        </div>
        <div class="chip mc d-flex align-items-center justify-content-center">
          Management Consulting
        </div>
      </div>
      <div
        class="candidate-details-info-bottom d-flex align-items-center gap-4"
      >
        <p>
          <img src="assets/icons/Email.svg" alt="" />
          rajesh.tapadia&#64;gmail.com
        </p>
        <div class="dot"></div>
        <p><img src="assets/icons/Phone.svg" alt="" /> +91 9876543210</p>
        <div class="dot"></div>
        <p><img src="assets/icons/Location.svg" alt="" />Mumbai, Maharashtra</p>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column gap-4 w-100">
    <div class="candidate-experience">
      <p>Latest Experience</p>
      <div class="company d-flex flex-column">
        <p>Nxtra Data Ltd. (A Bharti Airtel Group Company)</p>
        <div class="d-flex align-items-center gap-3">
          <p class="sub-text">Full Time</p>
          <div class="dot"></div>
          <p class="sub-text">September, 2022-Present</p>
          <div class="dot"></div>
          <p class="sub-text">Mumbai, Maharashtra</p>
        </div>
      </div>
      <div class="job-position ps-4">
        <div class="job-title d-flex align-items-center gap-3">
          <div class="big-dot"></div>
          <p>Executive Director & COO</p>
        </div>
        <div class="d-flex align-items-center gap-3 job-desc ps-4">
          <p class="sub-text">Full Time</p>
          <div class="dot"></div>
          <p class="sub-text">September, 2022-Present</p>
          <div class="dot"></div>
          <p class="sub-text">Mumbai, Maharashtra</p>
        </div>
      </div>
    </div>
    <div class="candidate-experience">
      <p>Latest Education</p>
      <div class="company d-flex flex-column">
        <p>Pune University, Maharashtra</p>
        <div class="d-flex align-items-center gap-3">
          <p class="sub-text">Bachelor of Engineering</p>
          <div class="dot"></div>
          <p class="sub-text">Computer Science</p>
          <div class="dot"></div>
          <p class="sub-text">Aug 1990 - Jun 1994</p>
        </div>
      </div>
      <div class="job-position ps-4">
        <p class="sub-text1">Activities and societies: football team head</p>
      </div>
    </div>
    <div class="candidate-experience">
      <p>Certification & Training</p>
      <div class="company d-flex flex-column">
        <div class="d-flex align-items-center justify-content-center gap-3">
          <p class="no-data">No details available</p>
        </div>
      </div>
    </div>
  </div>
</div>
