<div class="profile-details-left d-flex align-items-start flex-column gap-3">
  <div
    class="profile-details-left-header d-flex align-items-center justify-content-center gap-4"
  >
    <img src="assets/icons/profileIcon.svg" alt="" class="icon" />
    <p>Profile Preview</p>
    <div class="edit-btn" (click)="onEdit()">Edit Profile</div>
  </div>
  <div class="candidate-details" *ngIf="profile">
    <div class="candidate-img">
      <img [src]="profile.imageUrl" alt="" class="img-fluid" />
    </div>
    <div class="candidate-details-info">
      <div class="candidate-details-info-top d-flex align-items-center gap-3">
        <p class="name">{{ profile.name }}</p>
        <div class="d-flex flex-wrap gap-2">
          <!-- Show the first 3 certifications -->
          <div
            *ngFor="let cert of profile.certifications.slice(0, 2)"
            class="chip ccna d-flex align-items-center justify-content-center"
          >
            {{ cert }}
          </div>

          <!-- Show the "+X" chip if more than 3 certifications exist -->
          <div
            *ngIf="profile.certifications.length > 2"
            class="chip remaining-chip d-flex align-items-center justify-content-center"
            pTooltip="{{ getRemainingCertificationsTooltip() }}"
            tooltipPosition="top"
          >
            +{{ profile.certifications.length - 2 }}
          </div>
        </div>
      </div>
      <div
        class="candidate-details-info-bottom d-flex align-items-center gap-4"
      >
        <p>
          <img src="assets/icons/Email.svg" alt="" />
          {{ profile.email }}
        </p>
        <div class="dot"></div>
        <p>
          <img src="assets/icons/Phone.svg" alt="" />
          {{ profile.phone }}
        </p>
        <div class="dot"></div>
        <p
          class="location-text"
          pTooltip="{{ profile.location }}"
          tooltipPosition="top"
        >
          <img src="assets/icons/Location.svg" alt="" />
          {{
            profile.location.length > 50
              ? (profile.location | slice : 0 : 50) + "..."
              : profile.location
          }}
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column gap-4 w-100">
    <div class="candidate-experience">
      <p>Latest Experience</p>
      <div class="company d-flex flex-column" *ngIf="profile?.latestExperience">
        <p>{{ profile?.latestExperience?.company }}</p>
        <div class="d-flex align-items-center gap-3">
          <p class="sub-text">
            {{ profile?.latestExperience?.employmentType }}
          </p>
          <div
            class="dot"
            *ngIf="profile?.latestExperience?.period?.length"
          ></div>
          <p class="sub-text">{{ profile?.latestExperience?.period }}</p>
          <div
            class="dot"
            *ngIf="profile?.latestExperience?.location?.length"
          ></div>
          <p class="sub-text">{{ profile?.latestExperience?.location }}</p>
        </div>
      </div>
      <div class="job-position ps-4" *ngIf="profile?.latestExperience">
        <div class="job-title d-flex align-items-center gap-3">
          <div class="big-dot"></div>
          <p>{{ profile?.latestExperience?.position }}</p>
        </div>
      </div>
    </div>
    <div class="candidate-experience">
      <p>Latest Education</p>
      <div class="company d-flex flex-column" *ngIf="profile?.latestEducation">
        <p>{{ profile?.latestEducation?.university }}</p>
        <div class="d-flex align-items-center gap-3">
          <span class="dot"></span>
          <p class="sub-text">{{ profile?.latestEducation?.degree }}</p>
          <div
            class="dot"
            *ngIf="profile?.latestEducation?.major?.length"
          ></div>
          <p class="sub-text">{{ profile?.latestEducation?.major }}</p>
          <div
            class="dot"
            *ngIf="profile?.latestEducation?.period?.length"
          ></div>
          <p class="sub-text">{{ profile?.latestEducation?.period }}</p>
        </div>
      </div>
      <div class="job-position ps-4" *ngIf="profile?.latestEducation">
        <p class="sub-text1">{{ profile?.latestEducation?.activities }}</p>
      </div>
    </div>
    <div class="candidate-experience">
      <p>Certification & Training</p>
      <div class="company d-flex flex-column">
        <div
          class="d-flex align-items-center justify-content-center gap-3"
          *ngIf="profile?.certificationsAndTraining?.length === 0"
        >
          <p class="no-data">No details available</p>
        </div>
        <div
          *ngFor="let training of profile?.certificationsAndTraining"
          class="d-flex align-items-start justify-content-start gap-3"
        >
          <p class="sub-text d-flex align-items-center gap-3">
            <span class="dot"></span> {{ training }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
