<div class="meeting-body">
  <div class="meeting-container">
    <div class="schedule-container">
      <img src="assets/icons/date.svg" alt="date" />
      Your interview is scheduled on 23rd November, 2024
    </div>
    <div class="instruction-container">
      <div class="panel-head">
        <img src="assets/icons/camera.svg" alt="video" />Panel Interview -
        Instructions
      </div>
      <div class="equipment-section">
        <div class="equipment-title">Equipment/Environment Check</div>
        <div class="equipment-body">
          <ul>
            <li>
              Find a quiet spot with ample lighting and strong WiFi to take your
              assessment (Minimum 5-6 mbps stable upload speed, Broadband is
              recommended).
            </li>
            <li>
              Interview recording only works in Chrome and Firefox at the
              moment. Do ensure that you are using either of these browsers to
              take your assessment.
            </li>
            <li>
              To proceed with the video interview, we will require access to
              your video camera and your microphone.
            </li>
            <li>
              You will be shown a practice question where you can test your
              audio and video quality before starting the actual assessment.
            </li>
            <li>
              Be sure to position yourself well within the frame of your screen,
              sit upright and look straight into your camera when you present
              your responses.
            </li>
          </ul>
        </div>
        <div class="join-button">
          <button class="" (click)="InterviewDone()">Join</button>
        </div>
      </div>
    </div>
  </div>
</div>
