.profile-details-container {
  // padding: 1% 15%;
  height: 100%;
  background-image: url(../../../../../../public/assets/icons/candidateBG.svg);
  background-size: cover;
  background-position: center;
  width: 100%;
  // opacity: 0.95;
  // background-color: rgba(0, 0, 0, 0.358);
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    "top top top top top top top top top top top top"
    "left main main main main main main main main main main right"
    "left main main main main main main main main main main right"
    "left main main main main main main main main main main right"
    "left main main main main main main main main main main right"
    "left main main main main main main main main main main right"
    "left main main main main main main main main main main right"
    "left main main main main main main main main main main right"
    "left main main main main main main main main main main right"
    "left main main main main main main main main main main right"
    "left main main main main main main main main main main right"
    "buttom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom";
  place-items: center;
  justify-items: stretch;

  .right {
    grid-area: right;
  }
  .left {
    grid-area: left;
  }
  .top {
    grid-area: top;
  }
  .bottom {
    grid-area: bottom;
  }
  .main-contain {
    grid-area: main;
    display: flex;
    height: 100%;

    .profile-details-left {
      width: 100%;
    }

    hr {
      border-left: 2px solid #ffffff !important;
      border-top: 0 !important;
      margin: 0 2rem;
      opacity: 0.2;
    }
  }
}
