.profile-details-container {
  padding: 1% 15%;
  height: 100%;
  background-image: url(../../../../../../public/assets/icons/candidateBG.svg);
  background-size: cover;
  background-position: center;
  width: 100%;
  opacity: 0.95;
  background-color: rgba(0, 0, 0, 0.358);
  color: #ffffff;

  .main-contain {
    display: flex;
    height: 100%;

    .profile-details-left {
      width: 75%;
    }

    hr {
      border-left: 2px solid #ffffff !important;
      border-top: 0 !important;
      margin: 0 1rem;
      opacity: 0.8;
    }

    .profile-details-right {
    }
  }
}
