<div class="main-section d-flex justify-content-center position-relative">
  <img
    src="assets/icons/anuLogo.svg"
    alt="ANU Logo"
    class="logo-img position-absolute"
  />
  <div
    class="col-md-3 h-100 position-relative d-flex flex-column align-items-center text-white login-container"
  >
    <div
      class="card-body w-100 d-flex flex-column align-items-center justify-content-start gap-5"
    >
      <div class="logo-wel d-flex flex-column align-items-center gap-3">
        <div class="logo">
          <img src="/assets/icons/logo.svg" alt="logo" class="img-logo" />
        </div>
        <h3 class="text-center title">Welcome to ANU</h3>
      </div>
      <p class="sub-title text-center">Login to your account</p>
      <div class="w-100">
        <div class="form-group">
          <label for="email">Email address <span>*</span> </label>
          <input
            type="email"
            class="form-control email-input"
            id="email"
            placeholder="Email"
            [(ngModel)]="email"
          />
        </div>
        <button
          type="button"
          (click)="login()"
          class="btn btn-login d-flex align-items-center justify-content-center"
        >
          Login With SSO
          <img src="assets/icons/fi_arrow-right.svg" alt="" class="ps-1" />
        </button>
      </div>
    </div>
    <div class="btm-footer position-absolute">
      <p class="small btm-footer text-center">
        All rights reserved © 2024 Adani Group.
      </p>
    </div>
  </div>
</div>
