.assessment-container {
    display: flex;
    background-color: #181a1f;
    color: #ffffff;
    font-family: Arial, sans-serif;
  
    .start-screen, .quiz-screen {
      
    //   background-color: #1e2026;
      padding: 10%;
    //   border-radius: 8px;
    
    //   max-width: 600px;
      width: 100%;

    }
    .upperrwap{
        display: flex;
        flex-direction: row;
        padding-bottom: 2%;
        .logo{
            width: 48.53px;
            height: 48.53px;
        }

        .title{
            padding-left: 5%;
            font-size: 24px;
            text-align: center;
            font-weight: 500;
            line-height: 29.05px;
            padding-top: 1%;
        }
    }
    .instructions{
        padding-left: 5%;
        display: flex;
        gap: 12px;
        flex-direction: column; 
        padding-bottom: 5%;
        div{
            color: #7086FD;
            size: 20px;
            font-weight: 500;
            line-height: 32px; 
        }
        p{
            padding-left: 0.2rem;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            color: #BDBDBD;  
        }
    }
  
    /* Buttons */
    .button-div{
        text-align: center;
    }
    .take-test-button,
    .nav-button,
    .submit-test-button {
        width: 191px;
        height: 50px;
        background-color: #8B04F5;
        color: #ffffff;
        border-radius: 12px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
    }
  
    .question-header {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  
    .question-text {
      margin-bottom: 3%;
      p{
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
      }
    }
  
    .options {
      text-align: left;
      margin-bottom: 1rem;
  
      label {
        display: block;
        margin: 1.5rem 0;
        cursor: pointer;
        font-size: 21px;
        font-weight: 400;
        line-height: 25.41px;

        input[type='radio'] {
            accent-color: #BF3A62;
            height: 1rem;
            width: 1rem;
        }
  
        input {
          margin-right: 0.5rem;

          
        }
      }
    }

    .submit-button{
        margin-top: 2%;
        display: flex;
        justify-content: flex-end;
    }
  
    .navigation-buttons {
      margin-top: 5%;
      display: flex;
      flex-direction: row;
      gap:20px;
      justify-content: center;
    }


    .nav-button {
        color: white;
        background-color: #BF3A62;
            cursor: pointer;
            width: 44px;
            height: 44px;
            border-radius: 66px;
            border: 1px;
            
      img{
        height: 20px;
        width: 35px; 
      }
        &.disabled-button {
            background-color: #555555;
            cursor: not-allowed;
            width: 44px;
            height: 44px;
            border-radius: 66px;
            border: 1px;
        }
      
        &:disabled {
            background-color: #555555;
            cursor: not-allowed;
            width: 44px;
            height: 44px;
            border-radius: 66px;
            border: 1px;
        }
      }
      
  }
  