


<div *ngIf="loaderflag" class="loader_position">
  <div class="flex justify-center">
    <p-progress-spinner strokeWidth="2" fill="transparent" [style]="{ width: '100px', height: '100px', }" />
  </div>
</div>
<div *ngIf="!loaderflag" class="container">
  <div class="header">
    <h1>Job Details</h1>
    <div class="add-button" (click)="openCreateJob()">
      <img class="add-icon" src="assets/icons/+.svg" />
    </div>
  </div>

  <div class="job-container">
    <div class="job-list">
      <div
        *ngFor="let job of JobDetails; let i = index"
        [class.active]="i === activeIndex"
        (click)="setActiveJob(i, job)"
        class="job-item"
      >
        <h3>{{ job.Title }}</h3>
        <p>{{ job.location }}</p>
      </div>
    </div>
  </div>
</div>
